<p>Choose a name for your Tamagotchi:</p>
<form action="/create" method="post">
  <div class="form-group">
    <input id="name" class="form-control" name="name">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
