<div class='row'>
  <div class='col-sm-6'>
    <form action="/">
      <div class="input-group form-group">
        <span class="input-group-btn">
          <button type='submit' class='btn btn-success'>Feed</button>
        </span>
        <input name='food-amount' class="form-control">
      </div>
    </form>
    <form action="/reincarnate">
      <div class='form-group'>
        <button type='submit' class='btn btn-danger'>Reincarnate</button>
      </div>
    </form>
  </div>

  <div class='col-sm-6 readout'>
    <p>Your Tamagotchi has <%= @food_amount if @food_amount %> food in it</p>

    <table>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>
